[submodule "packages/fleetops"]
	path = packages/fleetops
	url = https://github.com/pashazahari/fleetops.git
[submodule "packages/storefront"]
	path = packages/storefront
	url = https://github.com/pashazahari/storefront.git
[submodule "packages/pallet"]
	path = packages/pallet
	url = https://github.com/pashazahari/pallet.git
[submodule "packages/core-api"]
	path = packages/core-api
	url = https://github.com/pashazahari/core-api.git
	branch = main
[submodule "packages/ember-core"]
	path = packages/ember-core
	url = https://github.com/pashazahari/ember-core.git
	branch = main
[submodule "packages/ember-ui"]
	path = packages/ember-ui
	url = https://github.com/pashazahari/ember-ui.git
	branch = main
[submodule "packages/iam-engine"]
	path = packages/iam-engine
	url = https://github.com/pashazahari/iam-engine.git
[submodule "packages/dev-engine"]
	path = packages/dev-engine
	url = https://github.com/pashazahari/dev-engine.git
	branch = main
[submodule "packages/fleetbase-extensions-indexer"]
	path = packages/fleetbase-extensions-indexer
	url = https://github.com/pashazahari/fleetbase-extensions-indexer.git
[submodule "packages/fleetops-data"]
	path = packages/fleetops-data
	url = https://github.com/pashazahari/fleetops-data.git
	branch = main
[submodule "docs/guides"]
	path = docs/guides
	url = https://github.com/pashazahari/guides.git
[submodule "docs/api-reference"]
	path = docs/api-reference
	url = https://github.com/pashazahari/api-reference.git
